.container {
  max-width: 115rem;
  height: 64rem;
  background: var(--gray-600);
}

.navBarToDo {
  max-width: 115rem;
  height: 12.5rem;
  flex-shrink: 0;

  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 70px;
}

.wrapper img {
  width: 1.375rem;
  height: 2.25rem;
}

.to {
  color: var(--blue);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.do {
  color: var(--purple-dark, #5e60ce);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.wrapperNewTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapperNewTask textarea {
  width: 638px;
  height: 4rem;
  resize: none;

  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);

  color: var(--gray-200);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.wrapperNewTask button {
  width: 90px;
  height: 52px;
  padding: 1rem;

  border-radius: 0.5rem;
  background: var(--blue-dark);

  color: var(--gray-100);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.225rem;
  border: none;
  transition: background-color 0.1s;
}

.wrapperNewTask button:hover {
  background: var(--blue);
}

.teste {
  display: flex;
  width: 46rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: auto;
}

.tasksContainer {
  display: flex;
  align: center;
  justify-content: center;
  flex-direction: row;
  gap: 510px;

  box-sizing: border-box;
}

.taskCreated {
  color: var(--blue);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.taskCompleted {
  color: var(--blue);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  display: flex;
  padding: 4rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border-top: 1px solid var(--gray-400);
}

.itemTaskList {
  width: 736px;
  height: 72px;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  margin: auto;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.checkbok {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.20456rem;
  justify-content: center;
  align-items: center;
  color: red;
}

.contentList {
  color: var(--gray-100);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
}
